.list-horizontal {
	list-style: none;
	padding-left: 0px;
	font-weight: bold;
}

.list-horizontal li {
	display: inline;
	padding: 10px;
}

.list-horizontal i {
	font-size: 50px;
	color: rgb(230, 230, 230, 1.0);
}

.list-horizontal i:hover {
	color:#1A3C40;
}